/* starts from 12th april (40:55) */
input[type=text],select{
    width: 100%;
    padding:12px 20px;
    margin: 8px 0;
    border:1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: lightcoral;
    color: blueviolet;
}

input[type=submit]{
    width: 100%;
    background-color: green;
    opacity: 0.8;
    color: white;
    padding:12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover{
    opacity:1; 
}

form{
    border-radius: 5px;
    padding: 20px;
    background-color: #f2f2f2; 
}
textarea{
    background-color: aquamarine;
    border-radius: 5px;
    padding: 10px;
    border:1px dashed cyan;
    margin-top:20px;
}
textarea:hover{
    background-color: beige;
}
