*{
    box-sizing: border-box;
}
p>img{
    width: 200px;
    height: 200px;
    margin-left: 20px;
    float:right;
    margin-right: 20px;
}
p{
    border:3px solid green;/*[11th april (1:32:10)]*/
    padding: 20px;
}
p::after{
    content: "";
    clear:both;
    display: table;
}
/* 
.div1{
    background: red;
}
.div2{
    background: yellow;
}
.div3{
    background: green;
}
body>div{ 
    clear:left;
}
div>div{
    float: left;
    padding: 15px;
    clear: left;
} */

/* 11 th april(1:26:45) below */
.div1{
    float:left;
    padding: 10px;
    border:3px solid #73AD21;
}
.div2{
    clear:left;
    /* float: left; */
    padding: 10px;
    border:3px solid red;
}
.div3{
    float:left;
    margin-top: 30px;
    padding: 10px;
    border:3px solid #73AD21;
}
.div4{
    padding: 10px;
    border:3px solid red;
    clear: left;/*[11th april (1:28:55)]*/
}
.box{
    /* 11th april (1:36:08) */
    float: left;
    width:33.33%;
    padding:50px
}
#myid{
    background-color: blue;
}
.myclass{
    background-color: gray;
}
p{
    background-color: red !important;/*11th april (1:55:20) this "!important" gets priority all over the given css values*/
    height: 100%;
}